
.main{
  background: url(../images/book.jpg) no-repeat center center fixed; 
  background-size: cover;

  }

  
.new{
  background: url(../images/scroll.jpeg) no-repeat center center fixed; 
  background-size: 75% 100%;
  text-align: center;
  }
.old{
  background: url(../images/scroll.jpeg) no-repeat center center fixed; 
  background-size: 75% 100%;
  text-align: center;
  }
 #time{
  text-align: center;
  font-size: 250%;
  }
 
               